body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-black: #000;
  --color-cyan: #7FFFD4;
  --color-white: #fff;
  --color-lgray: #F5F5F5;
  --color-dgray: #A9A9A9;
  --color-lgreen: #bfff00;
}

.small-text {
  font-size: 15px;
  line-height: 18px;
  font-weight: 100;
  word-wrap: break-word;
  white-space:pre-wrap;
}